# ------------------------------------------------------------------------------
# Example Terraform Variables
#
# This file provides an example of the variables you need to set.
# This file is used as a template by the setup.sh script.
# ------------------------------------------------------------------------------

# Your public IP address. This is used to grant you SSH access to the jumpbox.
admin_ip = "YOUR_PUBLIC_IP_ADDRESS"

# The local file path to your SSH private key.
# This is used to generate the correct SSH command for you to connect.
private_key_path = "PATH_TO_PRIVATE_KEY"

# The local file path to your SSH public key.
# This will be uploaded to AWS to grant access to the instances.
public_key_path = "PATH_TO_PUBLIC_KEY"

# (Optional) A map of tags to apply to all resources created.
# tags = {
#   "Owner"       = "your-name"
#   "Project"     = "k8s-hard-way"
# }

region = "eu-central-1"

# ------------------------------------------------------------------------------
# VPC Configuration
# ------------------------------------------------------------------------------

vpc_parameters = {
  cidr_block           = "10.0.0.0/16"
  enable_dns_support   = true
  enable_dns_hostnames = true
}

public_subnet_parameters = {
  cidr_block              = "10.0.1.0/24"
  map_public_ip_on_launch = true
}

private_subnet_parameters = {
  cidr_block = "10.0.2.0/24"
}

create_nat = true

# ------------------------------------------------------------------------------
# Instance Configuration
# ------------------------------------------------------------------------------

project_name = "k8s-hard-way"

worker_count = 2

jumpbox_instance_type       = "t4g.nano"  # ARM, 2 vCPU, 0.5 GiB
control_plane_instance_type = "t4g.small" # ARM, 2 vCPU, 2 GiB
worker_instance_type        = "t4g.small" # ARM, 2 vCPU, 2 GiB

jumpbox_root_volume_size       = 10
control_plane_root_volume_size = 20
worker_root_volume_size        = 20
root_volume_type               = "gp3"
